In [10]:
import pandas as pd

### **ENSO Pivoter**

In [11]:
enso_data = pd.read_csv('../ENSO.csv', parse_dates=['date'])
enso = enso_data.copy()
enso['year'] = enso.date.dt.year
enso['month'] = enso.date.dt.month
enso['month_str'] = enso.date.dt.strftime('%b')
enso = enso.drop(columns=['date'])
enso_pivoted = enso.pivot(index='year', columns='month')
enso_pivoted.columns = ["enso_" + "_".join(str(x) for x in a) for a in enso_pivoted.columns.to_flat_index()]

### **Soil Pivoter**

In [12]:
# **Soil Pivoter**
soil_data = pd.read_csv('../soil.csv', parse_dates=['day'])
soil = soil_data.copy()
soil['year'] = soil.day.dt.year
soil['day_of_year'] = soil.day.dt.day_of_year
soil = soil.drop(columns=['day']).pivot(index='year', columns='day_of_year')
soil_pivoted = soil.copy()
soil_pivoted.columns = ["soil_" + "_".join(str(x) for x in a) for a in soil_pivoted.columns.to_flat_index()]

### **Weather Pivoter**

In [13]:
# **Weather Pivoter**
weather_data = pd.read_csv('../weather.csv', parse_dates=['date'])
weather = weather_data.copy()
weather['year'] = weather.date.dt.year
weather['day_of_year'] = weather.date.dt.day_of_year
weather = weather.drop(columns=['date']).pivot(index='year', columns='day_of_year')
weather_pivoted = weather.copy()
weather_pivoted.columns = ["weather_" + "_".join(str(x) for x in a) for a in weather_pivoted.columns.to_flat_index()]

In [14]:

combined_data = enso_pivoted.merge(soil_pivoted, on='year', how='outer').merge(weather_pivoted, on='year', how='outer')

combined_data.to_csv('combined_pivoted_data.csv')

combined_data.head()

,enso_global temperature anomalies_1,enso_global temperature anomalies_2,enso_global temperature anomalies_3,enso_global temperature anomalies_4,enso_global temperature anomalies_5,enso_global temperature anomalies_6,enso_global temperature anomalies_7,enso_global temperature anomalies_8,enso_global temperature anomalies_9,enso_global temperature anomalies_10,...,weather_snowdepth_47,weather_snowdepth_48,weather_snowdepth_49,weather_snowdepth_50,weather_snowdepth_51,weather_snowdepth_52,weather_snowdepth_53,weather_snowdepth_54,weather_snowdepth_55,weather_snowdepth_56
year,,,,,,,,,,,,,,,,,,,,,
1947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,M,M,M,M,5.0,9.0,7.0,7.0,8.0,6.0
1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,M,M,3.0,T,0.0,M
1949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,-0.20,-0.26,-0.08,-0.16,-0.02,-0.02,-0.09,-0.09,-0.06,-0.14,...,T,T,0.0,T,T,0.0,0.0,0.0,T,T
1951,-0.31,-0.37,-0.16,-0.09,0.04,0.03,0.10,0.11,0.17,0.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0